.section {
    @apply
        w-[400px]
        max-sm:w-full
        max-md:w-full
        xl:w-[600px]

        sm:ml-[2%]
        md:ml-[3%]
        lg:ml-[3%]
        xl:ml-[6%]
    bg-gray-50 py-8 px-5 rounded mb-8;
}