.section {
    @apply
        w-[400px]
        max-sm:w-full
        max-md:w-full

        max-sm:ml-[25%]
        sm:ml-5
        md:ml-7
        lg:ml-7
        xl:ml-9
    bg-gray-50 py-8 px-5 rounded mb-8;
}